
.Content {
margin-top: 72px;
}

.Wrapper {
  display: grid;
  grid-template-rows: auto auto auto auto auto  ;
}
.WrapperItem {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
}
.TextInput > input {
  text-align: center;
  width: 100%;
  height: 45px;

}